@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto+Mono");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Coolors Exported Palette - coolors.co/bcfcff-efeaea-363732-000000-0061a3 */
/* HEX */
.App {
  background-color: #BCFCFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  min-width: 100vw;
}
.App div {
  box-sizing: border-box;
}
.App h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
.App h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.App h3 {
  font-size: 20px;
}
.App a {
  text-decoration: none;
}
.App table {
  border: 1px solid black;
}
.App table td {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;
}
.App table tbody > :nth-child(2n) {
  background-color: white;
}
.App table tbody > :nth-child(2n+1) {
  background-color: #EFEAEA;
}
.App table tbody > :nth-child(1) {
  background-color: #363732;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: white;
}
.App table tbody > :nth-child(1) td {
  padding: 10px;
}
.App select {
  padding: 5px;
  border-radius: 5px;
}
.App select:hover {
  background-color: #363732;
  color: white;
}
.App option {
  border-radius: 5px;
  background-color: white;
  color: black;
}
.App option:hover {
  background-color: pink;
}
.App button {
  padding: 10px;
  border: 1px solid #363732;
  background-color: #0061A3;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.Login h1 {
  text-align: center;
  margin: 40px;
}
.Login button {
  margin-top: 20px;
}
.Login a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.Main {
  font-family: sans-serif;
}
.Main table {
  margin: 10px 0px 20px 0px;
}
.Main .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0061A3;
  color: white;
  border: solid 1px black;
}
.Main .header h1 {
  text-align: center;
}
.Main .header .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main .header .profile-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  margin-left: 40px;
}
.Main .header .profile-box .img-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 15px 5px black;
}
.Main .header .profile-box .img-box img {
  height: 75%;
}
.Main .header .profile-box .img-box p {
  color: white;
  font-weight: bold;
}
.Main .header .profile-box .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0px;
}
.Main .header .profile-box .links a {
  color: white;
  margin: 10px 0px;
  font-style: italic;
}
.Main .header .profile-box .links a:hover {
  color: #363732;
}
.Main .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Main .content button {
  margin: 10px;
}
.Main .content .btn-box {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  .Main .header {
    justify-content: space-around;
  }
}
@media screen and (max-width: 426px) {
  .Main .header h1 {
    font-size: 40px;
  }
  .Main .header .profile-box {
    width: 100%;
    font-size: 14px;
  }
  .Main .header .profile-box .img-box {
    height: 75px;
    width: 75px;
  }
  .Main .header .profile-box .links a {
    margin: 5px 0px;
  }
  .Main .header .hangman-box {
    margin: 0px;
    margin-left: -30px;
  }
}
@media screen and (max-width: 321px) {
  .Main .header h1 {
    font-size: 30px;
  }
  .Main .content h2 {
    font-size: 20px;
  }
}
:root {
  --background-color: white;
  --hangman-color: black;
  --hangman-ratio: 1/3;
  --hangman-size: 100px;
}
@media screen and (max-width: 426px) {
  :root {
    --hangman-size: 70px;
  }
}

.Hangman {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Hangman .gallows {
  height: calc( var(--hangman-size) * 1.5 );
  width: calc( var(--hangman-size) * 2 );
  transform: translate(12%);
  margin-left: -30%;
}
.Hangman .gallows .upper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.Hangman .gallows .beam {
  background-color: black;
}
.Hangman .gallows .one {
  height: 100%;
  width: 2%;
}
.Hangman .gallows .two {
  display: absolute;
  transform: translateX(275%) translateY(-10%) rotate(45deg);
  height: 30%;
  width: 2%;
}
.Hangman .gallows .three {
  height: 3%;
  width: 30%;
  transform: translate(-6%);
}
.Hangman .gallows .four {
  height: 17%;
  width: 2%;
  transform: translate(-122%);
}
.Hangman .gallows .floor {
  height: 3%;
  width: 70%;
  margin-left: 30%;
}
.Hangman .gallows .hidden {
  background-color: var(--background-color, black);
  border-color: var(--background-color, white);
}
.Hangman .man {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--hangman-size);
  width: calc( var(--hangman-size) * var(--hangman-ratio) );
}
.Hangman .man .head {
  height: 30%;
  width: 90%;
  border-radius: 50%;
  border-color: var(--hangman-color);
  border-width: calc(var(--hangman-size) / 30);
  border-style: solid;
}
.Hangman .man .body, .Hangman .man .legs {
  position: relative;
  width: 100%;
  height: 33%;
}
.Hangman .man .part {
  background-color: var(--hangman-color, black);
  position: absolute;
  height: 100%;
  width: 10%;
}
.Hangman .man .torso {
  transform: translate(458%);
}
.Hangman .man .left {
  transform: translate(145%) rotate(35deg);
}
.Hangman .man .right {
  transform: translate(770%) rotate(-35deg);
}
.Hangman .man .legs {
  transform: translateY(-10%);
}
.Hangman .man .hidden {
  background-color: var(--background-color, white);
  border-color: var(--background-color, white);
}

.Profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Profile .top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: -100px;
}
.Profile .top img {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.Profile .top h1 {
  margin-left: 20px;
}
.Profile table {
  margin: 20px;
}

@media screen and (max-width: 426px) {
  .Profile h1 {
    font-size: 30px;
    margin: 0px;
  }
  .Profile .top {
    margin: 0px;
  }
  .Profile .top img {
    height: 75px;
    width: 75px;
    margin: 10px;
  }
}
.Game {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Game h1, .Game h2 {
  text-align: center;
  margin: 20px;
}
.Game button {
  margin: 20px;
}
.Game .window {
  border: 1px solid #363732;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Game .window .hangman-box {
  height: 170px;
  width: 250px;
}
.Game .window .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Game .window .right p {
  margin: 10px 10px;
  text-align: center;
}
.Game .window .right .board {
  letter-spacing: 5px;
  font-size: 20px;
}

@media screen and (max-width: 426px) {
  .Game h1 {
    font-size: 30px;
  }
  .Game .window {
    flex-direction: column;
  }
  .Game .window .hangman-box {
    height: 150px;
    width: 150px;
  }
}
.Keyboard {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 230px;
}
.Keyboard .key {
  background-color: #0061A3;
  font-family: "Roboto Mono", "Courier New", Courier;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin: 1px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}
.Keyboard .key:hover {
  filter: brightness(80%);
}
.Keyboard .pressed-right {
  background-color: darkgreen;
}
.Keyboard .pressed-wrong {
  background-color: darkred;
}

/*# sourceMappingURL=style.css.map */
