@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Coolors Exported Palette - coolors.co/bcfcff-efeaea-363732-000000-0061a3 */
/* HEX */
.App {
  background-color: #BCFCFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}
.App div {
  box-sizing: border-box;
}
.App h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
.App h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.App h3 {
  font-size: 20px;
}
.App table {
  table-layout: fixed;
  width: 500px;
  margin: 10px;
  padding: 10px;
  border-collapse: collapse;
}
.App table > :nth-child(1) {
  font-style: italic;
}
.App td {
  border: 1px solid gray;
  padding: 5px;
}
.App .bottom-button {
  display: flex;
  justify-content: center;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.Login h1 {
  text-align: center;
  margin: 40px;
}
.Login button {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #363732;
  background-color: #0061A3;
  border-radius: 5px;
  cursor: pointer;
}
.Login button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hangman .head {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: white 3px solid;
}
.hangman .part {
  background-color: white;
  position: absolute;
  height: 45px;
  width: 3px;
}
.hangman .left {
  transform: translate(-14px) rotate(35deg);
}
.hangman .right {
  transform: translate(14px) rotate(-35deg);
}
.hangman .legs {
  transform: translateY(38px);
}

.Main {
  font-family: sans-serif;
}
.Main div {
  margin: 10px;
}
.Main .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Main .top h1 {
  text-align: center;
}
.Main .top .profile-box {
  display: flex;
}
.Main .top .profile-box img {
  height: 75px;
  width: 75px;
}
.Main .top .profile-box .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Profile .top {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.Profile .top img {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.Profile .top h1 {
  margin-left: 20px;
}

.Game .window {
  margin: auto;
  height: 300px;
  width: 600px;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.Game .window img {
  height: 250px;
}
.Game .window .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Game .window .right .board {
  letter-spacing: 5px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.Game .window .right .guessed {
  font-family: "Courier New", Courier, monospace;
  line-height: 25px;
}

/*# sourceMappingURL=style.css.map */
