@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto+Mono');
$secondary-font: 'Montserrat', sans-serif;
$primary-font: 'Open Sans', sans-serif;
$keyboard-font: 'Roboto Mono';

@import 'reset';
@import './palette.scss';

.App {
  background-color: $color1;
  font-family: $primary-font;
  font-size: 16px;
  min-height: 100vh;
  min-width: 100vw;

  div {
    box-sizing: border-box;
  }

  h1 {
    font-size: 40px;
    font-family: $secondary-font;
  }

  h2 {
    font-size: 30px;
    font-family: $secondary-font;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }

  table {
    border: 1px solid black;

    td {
      border-right: 1px solid black;
      border-left: 1px solid black;
      padding: 5px;
    }

    tbody {
      > :nth-child(2n) {
        background-color: white;
      }
      > :nth-child(2n + 1) {
        background-color: $color3;
      }
      > :nth-child(1) {
        background-color: $color4;
        font-family: $primary-font;
        letter-spacing: 1px;
        color: white;

        td {
          padding: 10px;
        }
      }
    }
  }

  select {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  select:hover {
    background-color: $color4;
    color: white;
  }
  
  option {
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  option:hover {
    background-color: pink;
  }
  
  button {
    padding: 10px;
    border: 1px solid $color4;
    background-color: $color2;
    border-radius: 5px;
    cursor: pointer;

    color: white;
    font-weight: bold;
  }

}

@import 'Login';
@import 'Main';
@import 'Hangman';

@import 'Profile';

@import 'Game';
@import 'Keyboard';
