.Login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;

  h1 {
    text-align: center;
    margin: 40px;
  }

  button {
    margin-top: 100px;
    padding: 10px;
    border: 1px solid $color4;
    background-color: $color2;
    border-radius: 5px;
    cursor: pointer;
    
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
