.Main {
  font-family: sans-serif;
  
  div {
    margin: 10px;
  }

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    h1 {
      text-align: center;
    }

    .profile-box {
      display: flex;
      
      img {
        height: 75px;
        width:  75px;
      }

      .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    }

  }

}
