/* Coolors Exported Palette - coolors.co/bcfcff-efeaea-363732-000000-0061a3 */

/* HEX */
$color1: #BCFCFF; // light blue
$color2: #0061A3; // deep blue
$color3: #EFEAEA; // light gray
$color4: #363732; // dark gray
